@import "variables";
@import "mixins";

.excel__toolbar {
  position: absolute;
  top: $header-height;
  left: 0;
  right: 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  display: flex;
  padding: 7px 10px;
  height: $toolbar-height;

  & .button {
    @include button(green);
  }
}
